<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Produto</title>
</head>
<body>
<div align="center">
    <h1>Editar Produto</h1>
    <br>
    <form action="#" th:action="@{/save}" th:object="${produto}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td> Id Produto:</td>
                <td><input type="text" th:field="*{id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td> Nome:</td>
                <td><input type="text" th:field="*{nome}"/></td>
            </tr>
            <tr>
                <td> Marca:</td>
                <td><input type="text" th:field="*{marca}"/></td>
            </tr>
            <tr>
                <td> Nacionalidade:</td>
                <td><input type="text" th:field="*{nacionalidade}"/></td>
            </tr>
            <tr>
                <td> Preço:</td>
                <td><input type="text" th:field="*{preco}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type=submit>Salvar</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>